/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 1, 2018, 3:58:51 PM
    Author     : soup
*/

body {
    font-size: 14pt;
    margin-left: 2em;
    margin-right: 2em;
    font-family: Arial;
}

footer {
    clear: both;
}

h2 {
    color: #85a3e0;
    font-size: 20px;
}

main {
    margin-top: 2em;
    padding: .5em;
    clear: both;
    border: 2px solid #85a3e0;
    min-height: 600px;
    overflow: auto;
}

.center_wrapper {
    text-align: center;
}

.center_wrapper form {
    text-align: left;
    margin-left: 2%;
}

.center_wrapper form label {
    padding-right: 3%;
}

.col_header {
    font-size: 150%;
    color: black;
    text-decoration: underline;
    text-align: center;
}

.content_col_left {
    width: 40%;
    height: 100%;
    float: left;
}

.content_col_right {
    width: 40%;
    height: 100%;
    float: right;
}

.page_header {
    text-align: center;
}

.select_course{
    width: 70%;
    height: 90%;
    display: inline-block;
}

.special_text {
    font-family: "Bree Serif";
    text-decoration: none;
}

.special_text a {
    color: black;
    text-decoration: none;
}

.special_text a:active, .special_text a:hover {
    color: #800080;
}

#channels {
    border: 2px solid #85a3e0;
    float: left;
    width: 20%;
}

#chat_div {
    width: 100%;
    height: 100%;
}

#chat_frame {
    width: 100%;
    height: 1024px;
}

#copyright {
    text-align: right;
}

#courses {
    list-style-type: none;
}

#courses_column {
    width: 45%;
    height: 100%;
    float: left;
}

#course_info {
    margin-top: 60px;
    clear: both;
    width: 100%;
    min-height: 15em;
}

#course_info h2 {
    text-align: center;
    font-size: 200%;
    color: black;
}

#course_info p {
    margin-left: 2%;
}

#course_title {
}

#index_title {
    font-size: 350%;
    color: #85a3e0;
    text-align: center;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2%;
    margin-top: 10%;
}

#home {
    padding-bottom: 0px;
    margin-bottom: 0px;
}
#home_logo {
    height:375px;
    width:360px;
    padding-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

#login_div {
    display: inline-block;
    width: 40%;
    border: 3px solid #85a3e0;
}

#login_register {
    display: inline-block;
}

#logo {
    width: 15%;
    height: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #85a3e0;
    border-radius: 50%;
}

#navbar {
    margin-left: 15%;
    margin-right: 15%;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    display: inline-block;
    padding: 0;
    overflow: hidden;
    background-color: #85a3e0;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    text-align: center;
    display: block;
    width: 285px;
    height: 30px;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 150%;
}

#navbar li a:hover {
    background-color: #800080;    
}

#profile2 {
    border: none;    
}

#settings {
    list-style-type: none;
}

#signout {
    float:right; 
    padding-top: 0px;
    text-decoration: none;
    color: #85a3e0;
}
#signout a:hover {
    color: #800080;
}

#submit_button {
    float: right;
    margin-right: 5%;
}

#title {
    font-size: 300%;
    color: #85a3e0;
    text-align: center;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 0;
}

#title span, #index_title span {
    color: #800080;
}

#welcome_text {
    text-align: center;
}